---
import Modulo1 from '../components/Modulo1.astro'
import Portado from '../components/Portado.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio">
	<main>
		<Portado/>
    <Modulo1/>
	</main>
</Layout>

<style>
	body {
  margin: 0;
  background-color: #000000;
  background-image: radial-gradient(
      circle at 30% 30%, 
      rgba(0, 128, 0, 0.2), 
      transparent 25%
    ),
    radial-gradient(
      circle at 70% 70%, 
      rgba(128, 0, 128, 0.2), 
      transparent 25%
    );
  background-repeat: no-repeat; 
  background-size: cover;
  color: aliceblue; 
  }

  main{
  scroll-snap-type: y mandatory;
  }
</style>
