---
import "../components/Modulo1.css";
import {ModalPesonalizable} from "./ModalUtil";
---

<section class="modulo1">
  <div class="principal" >
    <h2>Modulo 1</h2>
  </div>

    <div class="tarjetas">
      <div class="semana">
        <div class="text">
          <h3 class="title">Introducci贸n</h3>
          <p class="description">que es la economia</p>
        </div>
        <iframe src="./public/semana1.pdf" title="pdf Semana 1" class="document"
        ></iframe>
        <button class="vermas">ver mas...</button>
      </div>

      <div class="semana">
        <div class="text">
          <h3 class="title">Introducci贸n</h3>
          <p class="description"></p>
        </div>
        <iframe
          src="https://view.genially.com/64c4151e028e410011204b80"
          class="document"></iframe>
        <button class="vermas">ver mas...</button>
      </div>

      <div class="semana">
        <div class="text">
          <h3 class="title">Introducci贸n</h3>
          <p class="description"></p>
        </div>
        <iframe src="" class="document"></iframe>
        <button class="vermas">ver mas...</button>
      </div>

      <div class="semana">
        <div class="text">
          <h3 class="title">Introducci贸n</h3>
          <p class="description"></p>
        </div>
        <iframe src="" class="document"></iframe>
        <button class="vermas">ver mas...</button>
      </div>
  </div>
  <ModalPesonalizable title= "Introduccion" description="que es la economia" link="https://view.genially.com/64c4151e028e410011204b80" />
</section>
