---
import './Portada.css'
---


<section>
    <div class="fig" >
        <img src="Factory.svg" alt="estado">
        <img src="Family.svg" alt="familia">
    </div>
    
    <ul class="portafolio" >
        <li>P</li>
        <li>O</li>
        <li>R</li>
        <li>T</li>
        <li>A</li>
        <li>F</li>
        <li>O</li>
        <li>L</li>
        <li>I</li>
        <li class="resalto" >O</li>
    </ul>
    <ul class="micro" >
        <li class="resalto" >M</li>
        <li>I</li>
        <li>C</li>
        <li>R</li>
        <li>O</li>
        <li>E</li>
        <li>C</li>
        <li>O</li>
        <li>N</li>
        <li>O</li>
        <li>M</li>
        <li>Í</li>
        <li>A</li>
    </ul>
    <div class="fig1" >
        <img src="Estado.svg" alt="Empresa">
    </div>

</section>